In [18]:
import pandas as pd
import numpy as np
from glob import glob

pd.options.display.max_rows = 200

In [40]:
countries = set()

for f in glob('./csvs/*.csv'):
    df = pd.read_csv(f)
    countries |= set(df['country'].tolist())

In [42]:
countries_df = pd.DataFrame({ 'country': list(countries) }).sort_values(by='country')

In [46]:
countries_df

                                            country
117                                         Algeria
88                                           Angola
28                                        Argentina
58                             Asian marker price †
146                                       Australia
43                                          Austria
42                                   Average German
74                                       Azerbaijan
120                                         Bahrain
9                                        Bangladesh
30                                          Belarus
90                                          Belgium
110                                         Bolivia
37                                           Brazil
143                                           Brent
33                                           Brunei
23                                         Bulgaria
154                                          Canada
138                                 Central America
75                                             Chad
19                                            Chile
108                                           China
128                             China Hong Kong SAR
68                    China Qinhuangdao spot price*
4                                          Colombia
151                                      Costa Rica
125                                         Croatia
145                                         Curacao
102                                          Cyprus
0                                    Czech Republic
130                                         Denmark
123                                           Dubai
156                                  Eastern Africa
34                                          Ecuador
15                                            Egypt
22                                      El Salvador
114                               Equatorial Guinea
11                                          Estonia
51                                         Ethiopia
135                                         Finland
104                                          France
136                                           Gabon
29                                          Germany
155                                          Greece
150                                      Guadeloupe
16                                        Guatemala
55                                         Honduras
7                                           Hungary
59                                          Iceland
40                                            India
101                                       Indonesia
118                                            Iran
111                                            Iraq
27                                          Ireland
153                                          Israel
1                                             Italy
103                                           Japan
54                               Japan Korea Marker
81               Japan coking coal import CIF price
56                Japan steam coal import CIF price
70                    Japan steam spot CIF price  †
46                                           Jordan
92                                       Kazakhstan
61                                            Kenya
96                                           Kuwait
38                                           Latvia
122                                           Libya
8                                         Lithuania
131                                      Luxembourg
17                                         Malaysia
71                                           Mexico
95                                    Middle Africa
133                                     Middle East
10                                         Mongolia
67                                          Morocco
21                                          Myanmar
147                                     Netherlands
49                             Netherlands Antilles
65                                  Netherlands TTF
152                                     New Zealand
63                                        Nicaragua
115                                         Nigeria
3                                          Nigerian
13                                  North Macedonia
106                 Northwest Europe marker price †
35                                           Norway
140                                            OECD
126                                            Oman
86                                     Other Africa
14                               Other Asia Pacific
62                                        Other CIS
39                                  Other Caribbean
121                                    Other Europe
50                                    Other Europe
109                               Other Middle East
137                              Other North Africa
94                            Other Northern Africa
119                        Other S. & Cent. America
116                             Other South America
64                            Other Southern Africa
2                                          Pakistan
57                                 Papua New Guinea
5                                              Peru
141                                     Philippines
53                                           Poland
78                                         Portugal
98                                            Qatar
41                                Republic of Congo
79                               Republic of Congo
129                                         Romania
12                                      Russian Fed
85                               Russian Federation
6                                      Saudi Arabia
144                                          Serbia
99                                        Singapore
105                                        Slovakia
72                                         Slovenia
60                                     South Africa
87                                      South Korea
132                                     South Sudan
124                                           Spain
44                                        Sri Lanka
76                                            Sudan
149                                          Sweden
97                                      Switzerland
80                                            Syria
32                                           Taiwan
20                                         Thailand
139                                    Total Africa
31                               Total Asia Pacific
47                                        Total CIS
107                                    Total Europe
142                                   Total Europe
112                               Total Middle East
36                       Total Middle East & Africa
73                              Total North America
66                         Total S. & Cent. America
89                                      Total World
91                                Trinidad & Tobago
134                                         Tunisia
26                                           Turkey
84                                     Turkmenistan
24                                               UK
48                                               US
25   US Central Appalachian coal spot price index ‡
82                                             USSR
45                                          Ukraine
18                             United Arab Emirates
100                                  United Kingdom
77                                          Uruguay
148                                      Uzbekistan
113                                       Venezuela
52                                          Vietnam
127                                      West Texas
93                                   Western Africa
69                                            Yemen
83                                         Zimbabwe

In [43]:
countries_df[countries_df['country'].str.contains(r'\s?[^A-Za-z\s]$')]

                                            country
58                             Asian marker price †
68                    China Qinhuangdao spot price*
70                    Japan steam spot CIF price  †
106                 Northwest Europe marker price †
25   US Central Appalachian coal spot price index ‡

In [44]:
replaced_df = countries_df.copy()
replaced_df['country'] = replaced_df['country'].str.replace(r'\s?[^A-Za-z\s]$', '')

In [45]:
replaced_df[countries_df['country'].str.contains(r'\s?[^A-Za-z\s]$')]

                                          country
58                             Asian marker price
68                   China Qinhuangdao spot price
70                    Japan steam spot CIF price
106                 Northwest Europe marker price
25   US Central Appalachian coal spot price index